<div id="<%= dom_id xabar %>">

  <ul class="list-group">
  <li class="list-group-item", style="background: none; border-color: white"><strong>Ism:</strong> <%= xabar.ism %> <br><br>
  <strong>Tavsiv:</strong><%= xabar.tavsiv %></li>
  </li>
</div>
<%#  %>