<h1>Editing biriktir</h1>

<%= render "form", biriktir: @biriktir %>

<br>

<div>
  <%= link_to "Show this biriktir", @biriktir %> |
  <%= link_to "Back to biriktirs", biriktirs_path %>
</div>
<%#  %>